body {
  font-family: "Audiowide", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Nunito", sans-serif;
  background-image: url(assets/fundo.jpg);
}

.titulo {
  color: limegreen;
  font-family: "Audiowide", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  display: grid;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 200px;
}

.btn {
  padding: 10%;
}

.login {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;

  padding: 150px;

  max-width: 465px;
  margin: 130px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid limegreen;
  padding: 30px;
  border-radius: 10px;
}

.login button:hover {
  border: 2px solid lime;
  box-shadow: lime 0px 0px 12px 1px inset, lime 0px 0px 12px 1px;
  border-radius: 10px;
}

.setores {
  text-align: center;
  color: limegreen;
  font-size: 30px;
  /* display: grid; */
  height: 100vh;
}

.items {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2.5rem;
  background-color: #444;
  height: 15%;
  /* border: 2px solid limegreen; */
}

.menuitem:hover {
  /* border-radius: 1px;
  border: solid lime; */

  border: 2px solid lime;
  box-shadow: lime 0px 0px 12px 1px inset, lime 0px 0px 12px 1px;
  border-radius: 10px;
}

.botoes {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin: 30px auto; */
  gap: 15px;
  font-weight: bold;
  /* max-width: 400px; */
  /* border: 2px solid limegreen; */

  max-width: 415px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid limegreen;
  padding: 30px;
  border-radius: 10px;
}

.botoes button:hover {
  border: 2px solid lime;
  box-shadow: lime 0px 0px 12px 1px inset, lime 0px 0px 12px 1px;
  border-radius: 10px;
}

.btnVoltar button:hover {
  border: 2px solid lime;
  box-shadow: lime 0px 0px 12px 1px inset, lime 0px 0px 12px 1px;
  border-radius: 10px;
}

.Calc button:hover {
  border: 2px solid lime;
  box-shadow: lime 0px 0px 12px 1px inset, lime 0px 0px 12px 1px;
  border-radius: 10px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid limegreen;
  padding: 30px;
  border-radius: 10px;
}

.calculator {
  align-items: center;
  display: flex;
  flex-direction: column;

  gap: 15px;
  font-weight: bold;

  max-width: 615px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid limegreen;
  padding: 30px;
  border-radius: 10px;
}

.btn button:hover {
  border: 2px solid lime;
  box-shadow: limegreen 0px 0px 12px 1px inset, lime 0px 0px 12px 1px;
  border-radius: 15px;
}

.calendario {
  align-items: center;
  display: flex;
  flex-direction: column;

  gap: 15px;
  font-weight: bold;

  max-width: 615px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid limegreen;
  padding: 30px;
  border-radius: 10px;
}

.cadastro {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  font-weight: bold;
  max-width: 465px;
  margin: 130px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid limegreen;
  border-radius: 10px;
  line-height: 3.5;
  padding: 15px;
  color: white;
  font-size: medium;
}
.itemsCadastro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonCad{
  font-Weight: bold;
  width: 10px;
  padding: 5px;
  border: none;
  border-Radius: 8px;
  width: 100px;
  font-Size: 20px;
  background-Color: limegreen;
  cursor: pointer;
  border-right: 100px;
  margin-left: 80px;
  filter: drop-shadow(3px 3px 3px limegreen );
}



.senha-container input {
  padding-right: 30px;
}

.senha-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}



.perfil{
  text-align: center;
 
  justify-items: center;
}

.img{
  border-radius: 50%;
  width: 20%;
  height: 20%;
  padding: 2rem;
  filter: drop-shadow(3px 3px 3px limegreen );
}